




main{
    width: 40%;
    height: auto;
    padding: 5px;
    background-color: rgb(216, 216, 213);
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px;
}
   


#banner{
    width: 90%;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto; 
}


h1{
    text-align: center;
    margin: 20px 0px;
    color: rgb(102, 100, 73);
}
h3{
    text-align: center;
    margin: 20px 10px;
    color: rgb(102, 100, 73);
}
p{
    text-align: justify;
}

